#hero {
    height: 800px;
    background-image: url("/images/places/me.JPG");
    background-position: center;
    background-size: cover;
}

#hero-content {
    margin: 0 auto;
    padding: 50px 0;
    width: 900px;
    background-color: rgba(51, 47, 47, .8);
    box-shadow: 2px 4px 8px rgb(68, 68, 68);
    border-radius: 8px;
    text-align: center;
    position: relative;
    top: 200px;
}

#hero-content h1 {
    color: white;
    margin: 0;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

#hero-content p {
    color: white;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin: 20px 0 30px 0;
    font-size: 20px;
}

#hero-content a {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    background-color: rgb(245, 243, 160);
    padding: 12px 24px;
    border-radius: 10px;
}

#hero-content a:hover {
    background-color: yellow;
}

#highlights {
    padding: 20px;
    background: linear-gradient(45deg, rgb(203, 231, 255), white)
}

#highlights h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(61, 61, 61);
    margin: 24px 0;
}

#destinations {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
}

.destination {
    margin: 0 20px;
    width: 100%;
}

.destination img {
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(61, 61, 61);
    border-radius: 8px;
    object-fit: cover;
}

.destination p {
    text-align: center;
    font-weight: 550;
    color: rgb(122, 122, 122);
    text-transform: uppercase;
}

.destination strong {
    color: rgb(49, 148, 46);
    text-transform: uppercase;
}
